<div id="register-div">
    <a href="#" id="register-link">Register!</a>
    <div id="register-dialog" title="Register a new account">
        <p>Welcome to Diplomacy. Have fun, and be sure to stab everyone you meet in the back!</p>
        <label for="register-username">Username:</label>
        <input id="register-username" type="text" />
        <label for="register-password">Passord:</label>
        <input id="register-password" type="password"/>
        <button id="register-submit">Create!</button>
    </div>
</div>