body {
    width:100%;
    max-width:1115px;
    height:100%;
    max-height: 867px;
    margin:0 auto;
    background-color: darkslategrey;
}

div#topbar {
    position: absolute;
    width: 1115px;
    height: 100px;
    margin: 0px;
    border: 0px;
    top: 0px;
    left: 0px;
    background-color: darkred;
}

div#map {
    position: absolute;
    width: 915px;
    height: 767px;
    margin: 0px;
    border: 0px;
    top: 100px;
    left: 0px;
    background-color: bisque;
}

div#sidebar {
    position: absolute;
    width: 200px;
    height: 767px;
    margin: 0px;
    border: 0px;
    top: 100px;
    left: 915px;
    background-color: darkcyan;
}