<div id="orders">
    <div id="issueOrder">
        <select id="issueOrderUnit"></select>
        <select id="issueOrderMoveType">
            <option id="order-cmd-hold" class="issueOrderMove" value="1">Hold</option>
            <option id="order-cmd-move"class="issueOrderMove" value="2">Move</option>
            <option id="order-cmd-support"class="issueOrderMove" value="3">Support</option>
            <option id="order-cmd-convoy"class="issueOrderMove" value="4" disabled="disabled">Convoy</option>
        </select>
        <select id="issueOrderDest"></select>
        <button id="issueOrderSubmit">Submit Order!</button>
    </div>
    <div id="finalizedOrders">
        <ul id="finalizedOrderList"></ul>
    </div>
</div>